@use '../project-no-select/page-layout.scss' as *;
@use '../project-no-select/board.scss' as *;
@use '../agnostic/transitions.scss' as *;
@use '../agnostic/typography.scss' as *;

.board {
    outline: none !important;
    h1 {
        @include clamp(25, 50, 'margin-bottom');
        @include clamp(20, 40, 'margin-top');
    }
    .-rows {
        display: flex;
        flex-direction: column;
        gap: $board-gaps;
        .word-row {
            display: flex;
            gap: $board-gaps;
            transform-origin: 50% 50%;
            .input-box {
                @include input-box;
            }
            &.shake {
                .input-box {
                    animation: shake-animation .5s ease infinite;
                }
            }
        }
    }
}

