@use '../agnostic/page-layout.scss' as agnostic;
@use '../project-no-select/page-layout.scss' as *;

html, body {
    @include agnostic.full-page-height;
}

#root {
    @include agnostic.center-xy;
    flex-direction: column;
}
.center-box {
    // @include agnostic.full-page-height;
    @include page-center-box;
    @include agnostic.center-xy;
    flex-direction: column;
    .-box {
        @include clamp(35, 50, 'margin-bottom');
        width: calc(100% - 200px);
    }
}


