@use '../agnostic/page-layout.scss' as *;
@use '../agnostic/typography.scss' as *;
@use './page-layout.scss' as *;
@use './colors.scss' as *;

$board-gaps: clamp(8px, 3vw, 12px);

@mixin input-box-border {
    @include input-border;
}

@mixin input-box-size {
    @include clamp(30, 60, height);
    flex: 0 1 auto;
    width: 100%;
}

@mixin colored-box($color) {
    background-color: $color;
    border-color: $color;
    > :first-child {
        color: #fff;
    }
}
@mixin green-box {
    @include colored-box($green);
}
@mixin yellow-box {
    @include colored-box($yellow);
}
@mixin grey-box {
    @include colored-box($box-grey);
}

@mixin input-box {
    @include input-box-border;
    @include input-box-size;
    @include center-xy;
    user-select: none;
    > :first-child {
        @include clamp(16, 40);
        @include clamp(1, 3, 'bottom');
        margin: 0;
        position: relative;
    }
    &.-yellow {
        @include yellow-box;
    }
    &.-green {
        @include green-box;
    }
    &.-grey {
        @include grey-box;
    }
    &.-current {
        border-color: $input-border-color-focus-themedark;
        @include light-theme {
            border-color: $input-border-color-focus-themelight;
        }
    }
}